---
import { site } from "../config/site";
const year = new Date().getFullYear();
---

<footer class="site-footer shell">
  <p>
    <span data-ui-lang="ko">© {year} achieveonepark. 모든 권리 보유.</span>
    <span data-ui-lang="en">© {year} achieveonepark. All rights reserved.</span>
  </p>
</footer>
